<h2>Monitoring devices </h2>
{{yield}}
<meta name="viewport" content="width=device-width">
<div class="container">
<article>

<br>
{{ember-chart type="doughnut" data=piedata options=options width=600 height=400}}

</article>
<footer>FHEM home</footer>
</div>
