<div class="container">
<header>
<h1>FHEM Home</h1>
{{#link-to 'application'}}Main{{/link-to}} 
{{#link-to 'automation'}}Automation{{/link-to}} 
{{#link-to 'monitoring'}}Monitoring{{/link-to}}
</header>

{{outlet}}<br><br>
{{socket-try}}

<br>
<br>
</div>